* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: aliceblue;
  margin: 0;
}

body header {
  position: sticky;
  top: 0;
  padding: 0.3rem;
  padding-bottom: 0;
  background-color: aliceblue;
}

a,
a:visited {
  color: midnightblue;
}

a:not(:hover) {
  text-decoration: none;
}

#search-field,
#search-field-meni {
  width: 50%;
  font-size: 1.5rem;
}

#lokali {
  padding: 0.3rem;
}

.highlight {
  background-color: yellow;
}

.lokal {
  background-color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.1rem;
}

.lokal h3,
.lokal .naslov {
  display: inline;
}

.openinghours.closed {
  color: red;
}

.openinghours.open {
  color: green;
}

.meni {
  columns: 4;
  column-gap: 0.2rem;
  padding: 0;
}

.meni li {
  background: aliceblue;

  padding: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 0.95rem;
  list-style: none;
}

@media (max-width: 1700px) {
  .meni {
    columns: 3;
  }
}

@media (max-width: 1200px) {
  .meni {
    columns: 2;
  }
}

@media (max-width: 600px) {
  .meni {
    columns: 1;
  }
}
